<h1>Log in</h1>
Don't have an account? <%= link_to "Sign up", signup_path %> for free!<br><br>

<%= form_tag sessions_path do %>
  <%= label_tag :email %>
  <%= text_field_tag :email %>
  <%= label_tag :password, "Password:" %>
  <%= password_field_tag :password %>
  <%= submit_tag "Log in", class: "submit" %>
<% end %>

<%= link_to "Return to home", root_path %>