<h1>Top Posts</h1>
<ol>
	<% @posts.each do |post| %>
	<li>
		<%= link_to(post.url, target: "_blank") do %>
			<%= post.title %>
		<% end %>
		<span> | submitted <%= time_ago_in_words(post.created_at) %> ago</span><br>
		<%= link_to(post) do %>
			<%= post.comments.count %> comments
		<% end %>
	</li>
	<% end %>
</ol>