<h1>Posts</h1>
<%= link_to("Add post", new_post_path) %>
<ol>
	<% @posts.each do |post| %>
	<li>
    <% if post.type_of_post == 1 %>
		  <%= link_to(post.title, post.url, target: "_blank") %>
    <% elsif post.type_of_post == 2 %>
      <%= link_to(post.title, post, target: "_blank") %>
    <% end %>
		<span class="site">(<%= post.url.split('/')[2] %>)</span>
		<br>

		<span>submitted <%= time_ago_in_words(post.created_at) %> ago</span><br>

		<%= link_to(pluralize(post.comments.count, 'comment'), post) %>
	</li>
	<% end %>
</ol>