<h1>Posts</h1>
<%= link_to("Add post", new_post_path) %>
<ol>
	<% @posts.each do |post| %>
	<li class="clearfix">
    <span class="post-vote-rank">
      <div class="post-vote">
        <div><%= link_to "Up", post_votes_path( vote: { post_id: post.id, rank: 1 } ), method: 'post', remote: 'true'  %></div>
        <div>Down</div>
      </div>
      <div class="post-rank">
      <% post.votes.each do |vote| %>
        <%= vote.rank %>
      <% end %>
      </div>
    </span>
    <span class="post-info">
      <% if post.type_of_post == 1 %>
  		  <%= link_to(post.title, post.url, target: "_blank") %>
      <% elsif post.type_of_post == 2 %>
        <%= link_to(post.title, post) %>
      <% end %>
  		<% if post.type_of_post == 1 %>
      <span class="site">(<%= post.url.split('/')[2] %>)</span>
      <% end %>
  		<br>

  		<span>submitted <%= time_ago_in_words(post.created_at) %> ago</span><br>

  		<%= link_to(pluralize(post.comments.count, 'comment'), post) %>
    </span>
	</li>
	<% end %>
</ol>