<h1>Posts</h1>
<%= link_to("Add post", new_post_path) %>
	<% @posts.each_with_index do |post, i| %>
	<div id="post-<%= post.id %>" class="clearfix post-container">
    <span class="post-index">
      <%= i %>
    </span>
    <span class="post-vote-rank">
      <div class="post-vote">
        <div><%= link_to "&#x25B2;".html_safe, upvote_post_path(post), method: 'put', remote: 'true' %></div>
        <div><%= link_to "&#x25BC;".html_safe, downvote_post_path(post), method: 'put', remote: 'true' %></div>
      </div>
      <div class="post-rank">
        <%= post.upvote - post.downvote %>
      </div>
    </span>
    <span class="post-info">
      <% if post.type_of_post == 1 %>
  		  <%= link_to(post.title, post.url, target: "_blank") %>
      <% elsif post.type_of_post == 2 %>
        <%= link_to(post.title, post) %>
      <% end %>
  		<% if post.type_of_post == 1 %>
      <span class="site">(<%= post.url.split('/')[2] %>)</span>
      <% end %>
  		<br>

  		<span class="total-upvotes-downvotes">
        (<span class="upvote"><%= post.upvote %></span> | <span class="downvote"><%= post.downvote  %></span>)
      </span>
      <span class="time-ago">submitted <%= time_ago_in_words(post.created_at) %> ago</span><br>

  		<%= link_to(pluralize(post.comments.count, 'comment'), post) %>
    </span>
	</div>
	<% end %>
</ol>