<div id="post-<%= @post.id %>">
  <div class="clearfix post-container">
    <span class="post-vote-rank">
      <div class="post-vote">
        <div class="up"><%= link_to "&#x25B2;".html_safe, post_votes_path(@post, vote: "true"), method: 'post', remote: 'true', class:("highlight" unless check_upvote(@post)) %></div>
        <div class="down"><%= link_to "&#x25BC;".html_safe, post_votes_path(@post, vote: "false"), method: 'post', remote: 'true', class:("highlight" unless check_downvote(@post)) %></div>
      </div>
      <div class="post-rank">
        <%= @post.total_votes %>
      </div>
    </span>
    <span class="post-info">
      <%= link_to_if(@post.type_of_post == 1, @post.title, @post.url, target: '_blank') %><br>

      <% if @post.type_of_post == 2 %>
      <p><%= @post.body %></p>
      <% end %>

      <%= pluralize(@post.comments.count, 'comment') %><br><br>
    </span>
  </div>
<h2>Comments</h2>
<%= render "posts/comment_form", locals: { content: @comment } %>

<% @post.comments.order("created_at desc").each do |comment| %>
  <div id="comment-<%= comment.id %>" class="clearfix comment-container">
    <div class="comment-author">
      <%= comment.user.handle %> <span class="time-ago">- <%= time_ago_in_words(comment.created_at) %> ago</span>
    </div>
    <span class="comment-body">
      <%= comment.content %>
    </span>
  </li>
  </div>
<% end %>
<br>
<%= link_to 'See all posts', root_path %>
</div>