<div id="post-<%= @post.id %>">
  <div class="clearfix">
    <span class="post-vote-rank">
      <div><%= link_to "Up", upvote_post_path(@post), method: 'put', remote: 'true' %></div>
      <div><%= link_to "Down", downvote_post_path(@post), method: 'put', remote: 'true' %></div>

      <div class="post-rank">
        <%= @post.upvote - @post.downvote %>
      </div>
    </span>
    <span class="post-info">
      <h1><%= link_to_if(@post.type_of_post == 1, @post.title, @post.url, target: '_blank') %></h1>

      <% if @post.type_of_post == 2 %>
      <p><%= @post.body %></p>
      <% end %>

      <%= pluralize(@post.comments.count, 'comment') %><br><br>
    </span>
  </div>
<h2>Comments</h2>

<%= render "comment_form" %>

<ol>
<% @comments.each do |comment| %>
  <li><%= comment.content %></li>
<% end %>
</ol>

<%= link_to 'Back', posts_path %>
</div>