<h1>
<%= link_to(@post.url, target: "_blank") do %>
	<%= @post.title %>
<% end %>
</h1>

<%= @post.comments.count %> comments<br><br>

<h2>Comments</h2>
<ol>
<% @post.comments.each do |comment| %>
	<li><%= comment.content %></li>
<% end %>
</ol>

<%= link_to 'Back', posts_path %>