<h1><%= @category.name %></h1>
<%= @category.description %><br>

<% if !@category.posts.empty? %>
  <% @category.posts.each_with_index do |post, i| %>
  <div id="post-<%= post.id %>" class="clearfix post-container">
    <span class="post-index">
      <%= i + 1 %>
    </span>
    <span class="post-vote-rank">
      <div class="post-vote">
        <div class="up"><%= link_to "&#x25B2;".html_safe, post_votes_path(post, vote: true), method: "post", remote: "true", class:("highlight" unless post.votes.where("user_id = ? AND vote = 't' ", @current_user).blank?) %></div>
        <div class="down"><%= link_to "&#x25BC;".html_safe, post_votes_path(post, vote: false), method: "post", remote: "true", class:("highlight" unless post.votes.where("user_id = ? AND vote = 'f' ", @current_user).blank?) %></div>
      </div>
      <div class="post-rank">
        <%= post.total_votes %>
      </div>
    </span>
    <span class="post-info">
      <%= display_url_link(post) %>
      <% if post.type_of_post == 1 %>
      <span class="site">(<%= post.url.split('/')[2] %>)</span>
      <% end %>
      <br>

      <span class="total-upvotes-downvotes">
        (<span class="upvote"><%= post.upvotes %></span> | <span class="downvote"><%= post.downvotes %></span>)
      </span>
      <span class="time-ago">submitted <%= time_ago_in_words(post.created_at) %> ago</span>
      <span class="post-author">by <%= link_to post.user.handle, user_profile_path(post.user.handle) %></span>
      <span class="post-category">to <%= post.category.name %>

      <br>

      <%= link_to(pluralize(post.comments.count, 'comment'), post) %>
    </span>
  </div>
  <% end %>
<% end %>
<br>
<%= link_to "Return to Home", root_path %>