<div class="header-left">
  <%= link_to "THREAD MuNCHER", root_path, id: "logo" %>
  <div id="motto">Post your use<span class="strike">ful</span>less shit.</div>
</div>
<div class="header-right">
  <div id="credentials">
  <% if !@current_user %>
  <%= link_to("Sign up", new_user_registration_path) %> or
  <% end %>
  <% if @current_user %>
    Signed in as <%= link_to current_user.handle, user_profile_path(current_user.handle) %>, you may
  <% end %> 
  <%= link_to_if(current_user, "Log out", destroy_user_session_path, method: "delete") do link_to("Log in", new_user_session_path) end %>
  </div>
  <nav id="categories">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <% @categories.each do |category| %>
      <li><%= link_to category.name, category %></li>
      <% end %>
  </ul>
  </nav>
</div>