<div class="header-left">
  <%= link_to "THREAD MuNCHER", root_path, id: "logo" %>
  <div id="motto">Post your use<span class="strike">ful</span>less shit.</div>
</div>
<div class="header-right">
  <div id="credentials">
  <% if !@current_user %>
  <%= link_to("Sign up", new_user_path) %> or
  <% end %>
  <% if @current_user %>
    Signed in as <%= link_to @current_user_handle, user_profile_path(@current_user_handle) %>, 
    you may <%= link_to "Edit Profile", edit_user_profile_path(@current_user_handle) %> or
  <% end %> 
  <%= link_to_if(@current_user, "Log out", logout_path) do link_to("Log in", login_path) end %>
  </div>
  <nav id="categories">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <% @categories.each do |category| %>
      <li><%= link_to category.name, category %></li>
      <% end %>
  </ul>
  </nav>
</div>